/* html, body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
* {
    box-sizing: border-box;
}
.header {
  background-color: #000000dc;
}
body {
    font-family:'NunitoSans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    color: #09364b;
    margin: 0;
}
.section-profile-title {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #09364b;
    position: relative;
    padding-left: 0;
    flex-direction: row;
    display: flex;
    margin-top: 5px;
}
#parent > * {
    display: block;
    margin-left: 30px;
    }
.section-list {
    font-family: 'NunitoSans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 3px;
    color: #09364b;
    list-style: none;
    padding-left:30px;
    }
.section-summary {
    font-family: 'NunitoSans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 3px;
    color: #09364b;
    list-style: none;
    padding-left:30px;
    }
.section-title:before {
    display: block;
    width:auto;
    content: '';
    border-bottom: 1px solid #373534;
    top:40%;
    overflow: hidden;
    }
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav {
    display: flex;
    justify-content: flex-end;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-left: 5px;
    gap:20px;
    padding-right: 10px;
}
html {
    scroll-behavior: smooth;
}
.nav-link {
    line-height: 50px;
    text-decoration: none;
    color: #d4720a;
    transition: color 0.5s;
    }
.nav-list li:hover {
    transform:scale(1.1);
}
.nav-link:hover {
    color:white;
    transition: color 0.4s;
}
.section a {
    color: #d4720a;
    text-decoration: none;
    transition: color 0.5s;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    }
.footer-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    }
.section-profile {
    display: flex;
    width: 100%;
    }
.section {
    width: 50%;
}

.section-title {
    font-family: 'NunitoSans', sans-serif;
    font-weight: 600;
    line-height: 1,5;
    color: #09364b;
    padding-left:30px;
}
.footer {
    padding-top: 5px;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    opacity: 1;
    background-color: #000000dc;
}
.gitLink {
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    display: flex;
    align-items: end;
    margin-right: 5px;
}
.rssContainer {
    user-select:none;
    height: auto;
    overflow: hidden;
}
.rssImg{
    width: 100%;
    height: 70px;
    object-fit: cover;
    cursor: pointer;
}
.gitContainer {
    height: 100%;
    display: flex;
    overflow: hidden;
    justify-content: flex-end;
}
.gitContainer img {
    height: 30%;
}
  @font-face {
    font-family: 'NunitoSans';
     src: url("./assets/fonts/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
   } */